REMOVING MISSING DATA

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("/content/cc_state_sector_details.csv")
df

,index,stateid,state,state_abbr,state_post,level,control,schools_count,counted_pct,awards_per_state_value,awards_per_natl_value,exp_award_state_value,exp_award_natl_value,state_appr_value,state_appr_rank,grad_rate_rank,awards_per_rank
0,0,0,United States,US,U.S.,4-year,Public,632,NaN,NaN,21.5,NaN,66436,NaN,NaN,23.0,NaN
1,1,0,United States,US,U.S.,4-year,Private not-for-profit,1180,NaN,NaN,22.5,NaN,101725,NaN,NaN,18.0,NaN
2,2,0,United States,US,U.S.,4-year,Private for-profit,527,NaN,NaN,24.6,NaN,38763,NaN,NaN,8.0,NaN
3,3,0,United States,US,U.S.,2-year,Public,926,NaN,NaN,16.5,NaN,37780,NaN,NaN,25.0,NaN
4,4,0,United States,US,U.S.,2-year,Private not-for-profit,68,NaN,NaN,25.9,NaN,34510,NaN,NaN,12.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,307,56,Wyoming,WY,Wyo.,4-year,Private not-for-profit,0,NaN,NaN,22.5,NaN,101725,659.39,1.0,NaN,NaN
308,308,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,NaN,38763,659.39,1.0,NaN,NaN
309,309,56,Wyoming,WY,Wyo.,2-year,Public,7,35.2,18.6,16.5,56439.0,37780,659.39,1.0,5.0,20.0
310,310,56,Wyoming,WY,Wyo.,2-year,Private not-for-profit,0,NaN,NaN,25.9,NaN,34510,659.39,1.0,NaN,NaN
311,311,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,20046.0,24795,659.39,1.0,2.0,1.0

HEAD

In [ ]:
df.head()

,index,stateid,state,state_abbr,state_post,level,control,schools_count,counted_pct,awards_per_state_value,awards_per_natl_value,exp_award_state_value,exp_award_natl_value,state_appr_value,state_appr_rank,grad_rate_rank,awards_per_rank
0,0,0,United States,US,U.S.,4-year,Public,632,NaN,NaN,21.5,NaN,66436,NaN,NaN,23.0,NaN
1,1,0,United States,US,U.S.,4-year,Private not-for-profit,1180,NaN,NaN,22.5,NaN,101725,NaN,NaN,18.0,NaN
2,2,0,United States,US,U.S.,4-year,Private for-profit,527,NaN,NaN,24.6,NaN,38763,NaN,NaN,8.0,NaN
3,3,0,United States,US,U.S.,2-year,Public,926,NaN,NaN,16.5,NaN,37780,NaN,NaN,25.0,NaN
4,4,0,United States,US,U.S.,2-year,Private not-for-profit,68,NaN,NaN,25.9,NaN,34510,NaN,NaN,12.0,NaN

TYPES

In [ ]:
df.dtypes

index                       int64
stateid                     int64
state                      object
state_abbr                 object
state_post                 object
level                      object
control                    object
schools_count               int64
counted_pct               float64
awards_per_state_value    float64
awards_per_natl_value     float64
exp_award_state_value     float64
exp_award_natl_value        int64
state_appr_value          float64
state_appr_rank           float64
grad_rate_rank            float64
awards_per_rank           float64
dtype: object

 Finding the missing values in each column

In [ ]:
df.isna().sum()

index                      0
stateid                    0
state                      0
state_abbr                 0
state_post                 0
level                      0
control                    0
schools_count              0
counted_pct               64
awards_per_state_value    48
awards_per_natl_value      0
exp_award_state_value     48
exp_award_natl_value       0
state_appr_value          12
state_appr_rank           12
grad_rate_rank            44
awards_per_rank           48
dtype: int64

In [ ]:
datadrop = df.dropna()

Checking to see the NA's after deletion of the rows.

In [ ]:
datadrop.isna().sum()

index                     0
stateid                   0
state                     0
state_abbr                0
state_post                0
level                     0
control                   0
schools_count             0
counted_pct               0
awards_per_state_value    0
awards_per_natl_value     0
exp_award_state_value     0
exp_award_natl_value      0
state_appr_value          0
state_appr_rank           0
grad_rate_rank            0
awards_per_rank           0
dtype: int64

In [ ]:
df

,index,stateid,state,state_abbr,state_post,level,control,schools_count,counted_pct,awards_per_state_value,awards_per_natl_value,exp_award_state_value,exp_award_natl_value,state_appr_value,state_appr_rank,grad_rate_rank,awards_per_rank
0,0,0,United States,US,U.S.,4-year,Public,632,NaN,NaN,21.5,NaN,66436,NaN,NaN,23.0,NaN
1,1,0,United States,US,U.S.,4-year,Private not-for-profit,1180,NaN,NaN,22.5,NaN,101725,NaN,NaN,18.0,NaN
2,2,0,United States,US,U.S.,4-year,Private for-profit,527,NaN,NaN,24.6,NaN,38763,NaN,NaN,8.0,NaN
3,3,0,United States,US,U.S.,2-year,Public,926,NaN,NaN,16.5,NaN,37780,NaN,NaN,25.0,NaN
4,4,0,United States,US,U.S.,2-year,Private not-for-profit,68,NaN,NaN,25.9,NaN,34510,NaN,NaN,12.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,307,56,Wyoming,WY,Wyo.,4-year,Private not-for-profit,0,NaN,NaN,22.5,NaN,101725,659.39,1.0,NaN,NaN
308,308,56,Wyoming,WY,Wyo.,4-year,Private for-profit,0,NaN,NaN,24.6,NaN,38763,659.39,1.0,NaN,NaN
309,309,56,Wyoming,WY,Wyo.,2-year,Public,7,35.2,18.6,16.5,56439.0,37780,659.39,1.0,5.0,20.0
310,310,56,Wyoming,WY,Wyo.,2-year,Private not-for-profit,0,NaN,NaN,25.9,NaN,34510,659.39,1.0,NaN,NaN
311,311,56,Wyoming,WY,Wyo.,2-year,Private for-profit,1,NaN,58.1,32.8,20046.0,24795,659.39,1.0,2.0,1.0

remaining table

In [ ]:
datadrop

,index,stateid,state,state_abbr,state_post,level,control,schools_count,counted_pct,awards_per_state_value,awards_per_natl_value,exp_award_state_value,exp_award_natl_value,state_appr_value,state_appr_rank,grad_rate_rank,awards_per_rank
6,6,1,Alabama,AL,Ala.,4-year,Public,13,61.0,18.8,21.5,75743.0,66436,290.68,11.0,38.0,42.0
7,7,1,Alabama,AL,Ala.,4-year,Private not-for-profit,16,62.0,17.8,22.5,92268.0,101725,290.68,11.0,47.0,49.0
8,8,1,Alabama,AL,Ala.,4-year,Private for-profit,9,37.8,29.1,24.6,17406.0,38763,290.68,11.0,26.0,9.0
9,9,1,Alabama,AL,Ala.,2-year,Public,25,49.0,15.9,16.5,42194.0,37780,290.68,11.0,35.0,39.0
11,11,1,Alabama,AL,Ala.,2-year,Private for-profit,5,79.6,3.2,32.8,24274.0,24795,290.68,11.0,38.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,301,55,Wisconsin,WI,Wis.,4-year,Private not-for-profit,24,71.8,22.0,22.5,73172.0,101725,205.96,32.0,22.0,25.0
302,302,55,Wisconsin,WI,Wis.,4-year,Private for-profit,15,53.4,25.1,24.6,34675.0,38763,205.96,32.0,22.0,21.0
303,303,55,Wisconsin,WI,Wis.,2-year,Public,17,32.4,22.8,16.5,42745.0,37780,205.96,32.0,6.0,4.0
306,306,56,Wyoming,WY,Wyo.,4-year,Public,1,63.3,21.3,21.5,92126.0,66436,659.39,1.0,31.0,21.0
309,309,56,Wyoming,WY,Wyo.,2-year,Public,7,35.2,18.6,16.5,56439.0,37780,659.39,1.0,5.0,20.0

MEAN

In [ ]:
df.mean()

<ipython-input-15-c61f0c8f89b5>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

index                       155.500000
stateid                      28.403846
schools_count                24.346154
counted_pct                  56.925806
awards_per_state_value       23.994318
awards_per_natl_value        23.966667
exp_award_state_value     56136.295455
exp_award_natl_value      50668.166667
state_appr_value            248.084600
state_appr_rank              24.880000
grad_rate_rank               23.694030
awards_per_rank              23.390152
dtype: float64

MEDIAN

In [ ]:
df.median()

<ipython-input-16-6d467abf240d>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

index                       155.500
stateid                      28.500
schools_count                 7.500
counted_pct                  59.300
awards_per_state_value       21.900
awards_per_natl_value        23.550
exp_award_state_value     50481.500
exp_award_natl_value      38271.500
state_appr_value            235.275
state_appr_rank              24.500
grad_rate_rank               23.000
awards_per_rank              22.500
dtype: float64

MODE

In [ ]:
df.mode()

,index,stateid,state,state_abbr,state_post,level,control,schools_count,counted_pct,awards_per_state_value,awards_per_natl_value,exp_award_state_value,exp_award_natl_value,state_appr_value,state_appr_rank,grad_rate_rank,awards_per_rank
0,0,0.0,Alabama,AK,Ala.,2-year,Private for-profit,0.0,38.0,21.3,16.5,12346.0,24795.0,254.79,19.0,1.0,1.0
1,1,1.0,Alaska,AL,Alaska,4-year,Private not-for-profit,NaN,53.4,22.0,21.5,14611.0,34510.0,NaN,NaN,2.0,2.0
2,2,2.0,Arizona,AR,Ariz.,NaN,Public,NaN,57.5,NaN,22.5,15389.0,37780.0,NaN,NaN,3.0,3.0
3,3,4.0,Arkansas,AZ,Ark.,NaN,NaN,NaN,61.7,NaN,24.6,15410.0,38763.0,NaN,NaN,4.0,4.0
4,4,5.0,California,CA,Calif.,NaN,NaN,NaN,63.9,NaN,25.9,15535.0,66436.0,NaN,NaN,5.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
308,308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
309,309,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
310,310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
311,311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

STD

In [ ]:
df.std()

<ipython-input-19-ce97bb7eaef8>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.std()

index                        90.210864
stateid                      16.052478
schools_count                99.728838
counted_pct                  19.890628
awards_per_state_value        8.405942
awards_per_natl_value         4.943401
exp_award_state_value     31063.277278
exp_award_natl_value      26162.737438
state_appr_value            103.478443
state_appr_rank              14.048611
grad_rate_rank               14.100616
awards_per_rank              13.925769
dtype: float64

VAR

In [ ]:
df.var()

<ipython-input-20-28ded241fd7c>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.var()

index                     8.138000e+03
stateid                   2.576820e+02
schools_count             9.945841e+03
counted_pct               3.956371e+02
awards_per_state_value    7.065985e+01
awards_per_natl_value     2.443721e+01
exp_award_state_value     9.649272e+08
exp_award_natl_value      6.844888e+08
state_appr_value          1.070779e+04
state_appr_rank           1.973635e+02
grad_rate_rank            1.988274e+02
awards_per_rank           1.939271e+02
dtype: float64

2. Calculate the mean of the counted_pct column

In [ ]:
counted_pct_mean = df.counted_pct.mean()

In [ ]:
print("Mean of COUNT column: ",counted_pct_mean)

Mean of COUNT column:  56.9258064516129

Impute the missing data in the age column with the mean age value

In [ ]:
df.counted_pct.fillna(counted_pct_mean,inplace=True)

In [ ]:
df.isna().sum()

index                      0
stateid                    0
state                      0
state_abbr                 0
state_post                 0
level                      0
control                    0
schools_count              0
counted_pct                0
awards_per_state_value    48
awards_per_natl_value      0
exp_award_state_value     48
exp_award_natl_value       0
state_appr_value          12
state_appr_rank           12
grad_rate_rank            44
awards_per_rank           48
dtype: int64

Checking all the records in the dataset for which the 'duration' column is NA

In [ ]:
df[df['counted_pct'].isnull()]

Empty DataFrame
Columns: [index, stateid, state, state_abbr, state_post, level, control, schools_count, counted_pct, awards_per_state_value, awards_per_natl_value, exp_award_state_value, exp_award_natl_value, state_appr_value, state_appr_rank, grad_rate_rank, awards_per_rank]
Index: []

Sort the values of duration in ascending order

In [ ]:
df['counted_pct'].sort_values(ascending=False).head()

34     100.0
101    100.0
29     100.0
107     98.2
70      94.8
Name: counted_pct, dtype: float64

 Calculating the median value of the duration column

In [ ]:
counted_pct_med= df.counted_pct.median()

PRINT MEDIAN

In [ ]:
print("The median of counted_pct is: ",counted_pct_med)

The median of counted_pct is:  56.9258064516129


 Imputing the median value of duration to all the NA fields in duration

In [ ]:
df.counted_pct.fillna(counted_pct_med,inplace=True)

In [ ]:
df.isna().sum()

index                      0
stateid                    0
state                      0
state_abbr                 0
state_post                 0
level                      0
control                    0
schools_count              0
counted_pct                0
awards_per_state_value    48
awards_per_natl_value      0
exp_award_state_value     48
exp_award_natl_value       0
state_appr_value          12
state_appr_rank           12
grad_rate_rank            44
awards_per_rank           48
dtype: int64

MODE

In [ ]:
df['exp_award_state_value'].unique()

array([    nan,  75743.,  92268.,  17406.,  42194.,  16852.,  24274.,
       103823.,  97275.,  30416., 160134.,  75690.,  35493.,  25661.,
        25969.,  21312.,  47347.,  82509.,  55570.,  25729.,  15410.,
        38603.,  79310., 125902.,  53245.,  44144.,  31169.,  23430.,
        71128.,  62622.,  44867.,  26635.,  21127.,  95469., 188870.,
        76194.,  57185., 112679.,  26940.,  51645.,  62470.,  35224.,
       151215., 114865.,  56150.,  34779.,  71929.,  46698.,  23547.,
        89645.,  25317.,  57843., 108974.,  59081.,  21560.,  50109.,
        43579.,  96333.,  63809.,  60623.,  57930.,  12346.,  56076.,
        40571.,  43878.,  38731.,  45703.,  90406.,  99440.,  40421.,
        33727.,  74074.,  27386.,  73383.,  85638.,  48576.,  27812.,
        75406.,  30280.,  81657.,  65365.,  35488.,  36861.,  24922.,
        65113.,  53183.,  50854.,  31714.,  60620.,  15535.,  72975.,
        64209.,  42765.,  16639.,  44716.,  54322., 102187.,  38047.,
        15389.,  18558.,  21543.,  72837., 107831.,  40946.,  38062.,
        32216.,  17325.,  55510., 184772.,  41262.,  62054.,  19292.,
        66839., 145629.,  55816.,  49931.,  37648.,  53772.,  76276.,
        54025.,  52332.,  40211.,  76061.,  71920.,  43085.,  32320.,
       144220.,  26759.,  62228.,  49905.,  40189.,  21061.,  56359.,
        86885.,  27738.,  33283.,  45744.,  14611.,  61439.,  83929.,
        51197.,  99056.,  59408.,  61953.,  35830.,  40345., 155075.,
        21983.,  72219.,  60051.,  54810.,  34928.,  23966.,  58783.,
       123661.,  39835.,  47063.,  42708.,  76212., 113408.,  65507.,
        49808.,  23301.,  67306., 113351.,  41774.,  24502.,  25926.,
        71334., 108407.,  54039.,  59231.,  37611.,  44481.,  74454.,
       148420.,  58286.,  37924.,  89587.,  28422.,  72233.,  61404.,
        28938.,  49596.,  74213.,  79796.,  43576.,  42672.,  29254.,
        35515.,  55203.,  76127.,  39682.,  37044.,  16061.,  58356.,
        78874.,  40150.,  48188.,  21525.,  81610., 110403.,  81979.,
        54524.,  40121.,  26415.,  67352., 115732.,  47741.,  69786.,
        83769.,  49186.,  34557.,  46020.,  28293.,  63713.,  70861.,
        62638.,  23428.,  56606.,  76051., 106812.,  61375.,  33766.,
        22291.,  20075.,  54356.,  84271.,  47221.,  40856.,  18384.,
        18614.,  52543.,  56663.,  39368.,  40263.,  21701.,  34961.,
        95663., 101521.,  32883.,  49148.,  67273.,  59113.,  34964.,
        30465.,  18728.,  65118.,  78941.,  68971.,  27639.,  15562.,
        69525.,  80119.,  44460.,  32982.,  29060.,  63710.,  73172.,
        34675.,  42745.,  33303.,  92126.,  56439.,  20046.])

In [ ]:
exp_award_state_value_mode = df.exp_award_state_value.mode()[0]

NameError: ignored

.Imputing the Mode value of 'contact' to all the NA fields in 'contact'

In [ ]:
df.exp_award_state_value.fillna(exp_award_state_value_mode,inplace=True)

In [ ]:
df.isna().sum()

index                      0
stateid                    0
state                      0
state_abbr                 0
state_post                 0
level                      0
control                    0
schools_count              0
counted_pct                0
awards_per_state_value    48
awards_per_natl_value      0
exp_award_state_value      0
exp_award_natl_value       0
state_appr_value          12
state_appr_rank           12
grad_rate_rank            44
awards_per_rank           48
dtype: int64

In [ ]:
import pandas
d=pandas.read_csv("/content/student.csv")
d

ParserError: ignored